.grid-style{
    display:flex;
    flex-flow:column;
}
.grid-style .pn-rows{
    display:flex;
    justify-content:space-around;
}
.grid-style .pn-rows .col{
    flex-grow:1;
    flex-basis:0;
}
.grid-style.grid-col-3 .pn-rows .col{
    max-width:232px;
}

.grid-style.grid-col-2 .pn-rows .col{
    max-width:232px;
}
.grid-style.grid-col-2 .pn-rows .col-2{
    max-width:524px;

}

.grid-style .head .pn-rows .col{
    font-size:12px;
    color:#a5b0c3;
    text-decoration:none solid rgb(165, 176, 195);
    line-height:24px;
    text-transform:uppercase;
    font-weight:700;
}
.grid-style .head .pn-rows{
    margin-bottom:16px;
}
.grid-style .body .pn-rows{
    margin-bottom:20px;
}
.grid-style .body .pn-rows .col{
    font-size:14px;
    color:#3a5179;
    text-decoration:none solid rgb(58, 81, 121);
    line-height:24px;
    letter-spacing:-0.1px;
}
.grid-style .body .pn-rows .col.col-1{
    font-weight:700;
}
