@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
*{
    font-family:'Open Sans', sans-serif;
    margin:0;
    padding:0;
    font-size:14px;
    color:#3a5179;
    text-decoration:none solid rgb(58, 81, 121);
    line-height:24px;
    letter-spacing:-0.1px;
}
b, strong{
    font-weight:bold;
}
p{
    margin-bottom:10px;
}
/*-- link within paragraph--*/
p a{
    font-size:inherit;
    color:#e62c35;
    display:inline-block;
}
p a:hover{
    color:#ce1827;
}
/*-- if terget blank --*/
p a[target="_blank"]:after{
    content:"";
    background:url(../images/external-link.svg) no-repeat center right;
    width:20px;
    height:17px;
    display:inline-block;
    vertical-align:sub;
}
/*--margins --*/
.margin-top-10{
    margin-top:10px;
}
.margin-top-20{
    margin-top:20px;
}
.margin-top-30{
    margin-top:30px;
}
.margin-top-40{
    margin-top:40px;
}
.margin-top-50{
    margin-top:50px;
}
.margin-bottom-10{
    margin-bottom:10px;
}
.margin-bottom-20{
    margin-bottom:20px;
}
.margin-bottom-30{
    margin-bottom:30px;
}
.margin-bottom-40{
    margin-bottom:40px;
}
.margin-bottom-50{
    margin-bottom:50px;
}
/*tabs*/

.tab-style{
    width:100%;
    position:relative;
}
.tab-style hr{
    border-top:1px solid #f5f7fa;
    margin:6px 0 0 0;
    position:absolute;
    width:calc(100vw - 370px);
}
.tab-style > input{
    display:none;
}
.tab-style > label{
    color:#3a5179;
    font-weight:bold;
    margin:0 40px 10px 0;
    position:relative;
    cursor:pointer;
    z-index:1;
}
.tab-style > label:after{
    content:"";
    position:absolute;
    width:100%;
    height:1px;
    background:transparent;
    bottom:-11px;
    left:0;
    transition:all 0.3s ease;
}
.tab-style > input:checked + label:after{
    background:#e62c35;
}
.tab-style > .tab-data{
    display:none;
}
.tab-style > input:nth-of-type(1):checked ~ .tab-data:nth-of-type(1),
.tab-style > input:nth-of-type(2):checked ~ .tab-data:nth-of-type(2),
.tab-style > input:nth-of-type(3):checked ~ .tab-data:nth-of-type(3),
.tab-style > input:nth-of-type(4):checked ~ .tab-data:nth-of-type(4),
.tab-style > input:nth-of-type(5):checked ~ .tab-data:nth-of-type(5),
.tab-style > input:nth-of-type(6):checked ~ .tab-data:nth-of-type(6){
    display:block;
    margin:30px 0 0;
    opacity:0;
    animation:opacity 0.3s forwards;
}
@keyframes opacity{
    to{
        opacity:1;
    }
}
img{
    max-width:100%;
}
ol,
ul{
    margin-bottom:20px;
}
ol{
    list-style-position:inside;
}
ol{
    counter-reset:list;
}
ol > li{
    display:block;
    counter-increment:list;
    padding-left:25px;
    position:relative;
}
ol > li:before{
    content:counter(list) ".";
    position:absolute;
    left:0;
    top:0;
}
h1{
    line-height:normal;
}
h2{
    font-size:24px;
    color:#3a5179;
    text-decoration:none solid rgb(58, 81, 121);
    line-height:48px;
    letter-spacing:-0.24px;
    margin-bottom:10px;
    font-weight:600;
}
.top-panel > img{
    margin-right:-5px;
    margin-top:-5px;
}
.top-panel{
    padding:5px 45px;
    background:#042154;
    height:64px;
    font-size:24px;
    line-height:34px;
    color:#ffffff;
    text-decoration:none solid rgb(255, 255, 255);
    letter-spacing:-0.2px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
.body-panel{
    display:flex;
    justify-content:space-between;
    min-height:100vh;
}
.body-panel .left-panel ul{
    list-style:none;
}
.body-panel .left-panel ul li{
    margin-bottom:20px;
}
.body-panel .left-panel ul li .left-menu-item,
.body-panel .left-panel ul li a{
    font-size:16px;
    font-weight:bold;
    color:#3a5179;
    text-decoration:none solid rgb(58, 81, 121);
    letter-spacing:-0.1px;
}
.body-panel .left-panel ul li .left-menu-item{
    margin-bottom:15px;
    display:block;
}
.body-panel .left-panel ul li ul li{
    padding-left:20px;
}
.body-panel .left-panel ul li ul li a{
    font-weight:normal;
}

.body-panel .left-panel{
    width:272px;
    background:#ffffff;
    padding:40px 10px 20px 30px;
}
.body-panel .right-panel{
    width:calc(100% - 272px);
    border-left:1px solid #f5f7fa;
}
.body-panel .right-panel .inner-panel-head{
    background:#f5f7fa;
    padding: 40px 40px 34px 40px;
    padding-right:calc(100% - 720px);
}
.body-panel .right-panel .inner-panel-head.full-width{
    padding-right:calc(100% - (818px + 40px));
}

.body-panel .right-panel h1{
    font-size:36px;
    color:#3a5179;
    font-weight:600;
    text-decoration:none solid rgb(58, 81, 121);
    letter-spacing:-0.36px;
    margin-bottom:21px;
}
.body-panel .right-panel .subtitle-head{
    font-size:16px;
    color:#3a5179;
    text-decoration:none solid rgb(58, 81, 121);
    line-height:27px;
    letter-spacing:-0.1px;
    min-height: 95px;
}
.body-panel .right-panel .inner-panel-body{
    padding:40px;
    padding-right:calc(100% - 846px);
}
.body-panel .right-panel .inner-panel-body ul li ul{
    padding-left:20px;

}

.body-panel .right-panel .inner-panel-body ul li{
    padding-left:20px;
    list-style:none;
    position:relative;
}
.body-panel .right-panel .inner-panel-body ul.bug-list li{
    padding-bottom:10px;
    padding-left:26px;
}
.body-panel .right-panel .inner-panel-body ul li:before{
    content:'';
    height:4px;
    width:4px;
    background:#3a5179;
    display:inline-block;
    position:absolute;
    left:0;
    top:11px;
    border-radius:50%;
}
.body-panel .right-panel .inner-panel-body ul.bug-list li:before{
    width:16px;
    height:16px;
    top:4px;
    left:0;
    background:#f44336;
    content:"X";
    color:#fff;
    font-family:cursive;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:10px;
}
.body-panel .right-panel .inner-panel-body ol{
    list-style-position:inside;
}
.body-panel .right-panel .inner-panel-body ol{
    counter-reset:list;
}
.body-panel .right-panel .inner-panel-body ol > li{
    display:block;
    counter-increment:list;
    padding-left:26px;
    position:relative;
}
.body-panel .right-panel .inner-panel-body ol > li:before{
    content:counter(list) ".";
    position:absolute;
    left:0;
    top:0;
}