@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
*{
    font-family:'Open Sans', sans-serif;
    margin:0;
    padding:0;
    font-size:14px;
    color:#3a5179;
    text-decoration:none solid rgb(58, 81, 121);
    line-height:24px;
    letter-spacing:-0.1px;
}
b, strong{
    font-weight:bold;
}
p{
    margin-bottom:10px;
}
/*-- link within paragraph--*/
p a{
    font-size:inherit;
    color:#e62c35;
    display:inline-block;
}
p a:hover{
    color:#ce1827;
}
/*-- if terget blank --*/
p a[target="_blank"]:after{
    content:"";
    background:url(../images/external-link.svg) no-repeat center right;
    width:20px;
    height:17px;
    display:inline-block;
    vertical-align:sub;
}
.shadow{
    filter:drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
}
/*--grid--*/
.grid-style{
    display:flex;
    flex-flow:column;
}
.grid-style .pn-rows{
    display:flex;
    justify-content:space-between;
}
.grid-style .pn-rows .col{
    flex-grow:1;
    flex-basis:0;
}
.grid-style.grid-col-3 .pn-rows .col{
    max-width:232px;
}
.grid-style.grid-col-2 .pn-rows .col{
    max-width:232px;
}
.grid-style.grid-col-2 .pn-rows .col-2{
    max-width:524px;

}
.grid-style .head .pn-rows .col{
    font-size:12px;
    color:#a5b0c3;
    text-decoration:none solid rgb(165, 176, 195);
    line-height:24px;
    text-transform:uppercase;
    font-weight:700;
}
.grid-style .head .pn-rows{
    margin-bottom:16px;
}
.grid-style .body .pn-rows{
    margin-bottom:20px;
}
.grid-style .body .pn-rows .col ul{
    margin-bottom:10px;
}
.grid-style .body .pn-rows .col{
    font-size:14px;
    color:#3a5179;
    text-decoration:none solid rgb(58, 81, 121);
    line-height:24px;
    letter-spacing:-0.1px;
}
@media (max-width:991px){
    .grid-style .pn-rows .col{
        width:100%;
        flex:auto;
        max-width:none !important;
    }
    .grid-style .pn-rows{
        flex-flow:wrap;
        justify-content:flex-start;
        width:100%;
    }
    .grid-style.grid-col-3 .pn-rows .col.col-2,
    .grid-style.grid-col-3 .pn-rows .col.col-3{
        width:50%;
    }
    .grid-style .head .pn-rows{
        margin-bottom:0px;
        padding:10px 0
    }
    .grid-style .head{
        position:sticky;
        top:70px;
        background:#fff;
    }
}

/*--grid--*/
/*--margins --*/
.margin-top-10{
    margin-top:10px;
}
.margin-top-20{
    margin-top:20px;
}
.margin-top-30{
    margin-top:30px;
}
.margin-top-40{
    margin-top:40px;
}
.margin-top-50{
    margin-top:50px;
}
.margin-bottom-10{
    margin-bottom:10px;
}
.margin-bottom-20{
    margin-bottom:20px;
}
.margin-bottom-30{
    margin-bottom:30px;
}
.margin-bottom-40{
    margin-bottom:40px;
}
.margin-bottom-50{
    margin-bottom:50px;
}
/*tabs*/

.tab-style{
    width:100%;
    position:relative;
}
.tab-style hr{
    border-top:1px solid #f5f7fa;
    margin:6px 0 0 0;
    position:absolute;
    width:calc(100vw - 370px);
}
.tab-style > input{
    display:none;
}
.tab-style > label{
    color:#3a5179;
    font-weight:bold;
    margin:0 40px 10px 0;
    position:relative;
    cursor:pointer;
    z-index:1;
}
.tab-style > label:after{
    content:"";
    position:absolute;
    width:100%;
    height:1px;
    background:transparent;
    bottom:-11px;
    left:0;
    transition:all 0.3s ease;
}
.tab-style > input:checked + label:after{
    background:#e62c35;
}
.tab-style > .tab-data{
    display:none;
}
.tab-style > input:nth-of-type(1):checked ~ .tab-data:nth-of-type(1),
.tab-style > input:nth-of-type(2):checked ~ .tab-data:nth-of-type(2),
.tab-style > input:nth-of-type(3):checked ~ .tab-data:nth-of-type(3),
.tab-style > input:nth-of-type(4):checked ~ .tab-data:nth-of-type(4),
.tab-style > input:nth-of-type(5):checked ~ .tab-data:nth-of-type(5),
.tab-style > input:nth-of-type(6):checked ~ .tab-data:nth-of-type(6){
    display:block;
    margin:30px 0 0;
    opacity:0;
    animation:opacity 0.3s forwards;
}
@keyframes opacity{
    to{
        opacity:1;
    }
}
img{
    max-width:100%;
}
ol,
ul{
    margin-bottom:20px;
}
ol{
    list-style-position:inside;
}
ol{
    counter-reset:list;
}
ol > li{
    display:block;
    counter-increment:list;
    padding-left:25px;
    position:relative;
}
ol > li:before{
    content:counter(list) ".";
    position:absolute;
    left:0;
    top:0;
}
h1{
    line-height:normal;
}
h2{
    font-size:24px;
    color:#3a5179;
    text-decoration:none solid rgb(58, 81, 121);
    line-height:48px;
    letter-spacing:-0.24px;
    margin-bottom:10px;
    font-weight:600;
}
h3{
    font-size:16px;
    color:#3a5179;
    text-decoration:none solid rgb(58, 81, 121);
    line-height:32px;
    letter-spacing:-0.1px;
    margin-bottom:10px;
    font-weight:600;
}
.top-panel > img{
    margin-right:-5px;
    margin-top:-5px;
}
.top-panel{
    display:flex;
    justify-content:space-between;
    background:#042154;
    align-items:center;
    position:sticky;
    top:0;
    z-index:1;
}
.top-panel .logo-panel{
    padding:5px 30px;
    height:64px;
    font-size:24px;
    line-height:34px;
    color:#ffffff;
    text-decoration:none solid rgb(255, 255, 255);
    letter-spacing:-0.2px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
.top-panel .logo-panel img{
    margin-left:-13px;
}
.top-panel .nav-panel li a.active:before{
    content:'';
    display:inline-block;
    background:rgb(230, 44, 53);
    height:5px;
    width:40px;
    position:absolute;
    top:-26px;
    left:0;
    right:0;
    margin:0 auto;
}
.top-panel .nav-panel li a{
    font-size:16px;
    color:#ffffff;
    text-decoration:none solid rgb(255, 255, 255);
    letter-spacing:-0.2px;
    position:relative;
}
.top-panel .nav-panel li a.disable{
    color:rgb(84, 104, 139);
    pointer-events:none;
    cursor:not-allowed;
}
.top-panel .nav-panel ul{
    display:flex;
    justify-content:space-around;
    width:480px;
    list-style:none;
    margin:0;
}
.body-panel{
    display:flex;
    justify-content:space-between;
    min-height:100vh;
}
.body-panel .left-panel > ul{
    list-style:none;
    position:sticky;
    top: 74px;
    max-height:calc(100vh - 114px);
    overflow:auto;
    padding-top:40px;
}
.body-panel .left-panel > ul::-webkit-scrollbar-thumb{
    background-color:rgba(0, 0, 0, 0);
    border-radius:16px;
    border:5px solid #fff;
}
.body-panel .left-panel > ul:hover::-webkit-scrollbar-thumb{
    background-color:#a0a0a5;
}
.body-panel .left-panel > ul::-webkit-scrollbar-thumb{
    background-color:#a0a0a5;
    border:0px solid #ffffff
}
.body-panel .left-panel > ul::-webkit-scrollbar{
    width:2px;
}
.body-panel .left-panel ul li a{
    margin-bottom:0;
    display:block;
    padding:10px 10px 10px 30px;
    position:relative;
}
/*.body-panel .left-panel ul li span:hover,*/
.body-panel .left-panel ul li a:hover{
    background:rgba(218, 223, 232, 0.2)
}
.body-panel .left-panel ul li a.active{
    background:rgba(218, 223, 232, 0.4)
}
.body-panel .left-panel ul li a.active:before{
    width:5px;
    background:#e62c35;
    content:"";
    display:inline-block;
    position:absolute;
    left:0;
    top:0;
    height:100%;
}
.body-panel .left-panel ul li a.active:before{
}
.body-panel .left-panel ul li .left-menu-item,
.body-panel .left-panel ul li a{
    font-size:16px;
    font-weight:bold;
    color:#3a5179;
    text-decoration:none solid rgb(58, 81, 121);
    letter-spacing:-0.1px;
}
.body-panel .left-panel ul li .left-menu-item{
    margin-bottom:15px;
    display:block;
    margin-bottom:0;
    display:block;
    padding:10px 10px 10px 30px;
}
.body-panel .left-panel ul li ul li{
    padding-left:0;
    margin-bottom:0;
}
.body-panel .left-panel ul li ul li a{
    font-weight:normal;
    padding:5px 5px 5px 50px;
}
.body-panel .left-panel{
    width:272px;
    background:#ffffff;
    padding: 0px 0 0;
    position:relative;
}
.body-panel .right-panel{
    width:calc(100% - 272px);
    border-left:1px solid #f5f7fa;
}
.body-panel .right-panel .inner-panel-head{
    background:#f5f7fa;
    padding:40px 40px 34px 40px;
    padding-right:calc(100% - 720px);
}
.body-panel .right-panel .inner-panel-head.full-width{
    padding-right:calc(100% - (818px + 40px));
}
.body-panel .right-panel .inner-panel-foot{
    margin-top:60px;
    text-align:center;
}
.body-panel .right-panel .inner-panel-foot p{
    margin:0;
    min-height:50px;
    font-size:12px;
    color:#8a98b0;
    text-decoration:none solid rgb(138, 152, 176);
    line-height:24px;
    letter-spacing:-0.1px;
    text-align:center;
}
.body-panel .right-panel h1{
    font-size:36px;
    color:#3a5179;
    font-weight:600;
    text-decoration:none solid rgb(58, 81, 121);
    letter-spacing:-0.36px;
    margin-bottom:21px;
}
.body-panel .right-panel .subtitle-head{
    font-size:16px;
    color:#3a5179;
    text-decoration:none solid rgb(58, 81, 121);
    line-height:27px;
    letter-spacing:-0.1px;
    min-height:95px;
}
.body-panel .right-panel .inner-panel-body{
    padding:40px;
    padding-right:calc(100% - 846px);
}
.body-panel .right-panel .inner-panel-body ul li ul{
    padding-left:20px;

}
.body-panel .right-panel .inner-panel-body ul li{
    padding-left:20px;
    list-style:none;
    position:relative;
}
.body-panel .right-panel .inner-panel-body ul.bug-list li{
    padding-bottom:10px;
    padding-left:26px;
}
.body-panel .right-panel .inner-panel-body ul li:before{
    content:'';
    height:4px;
    width:4px;
    background:#3a5179;
    display:inline-block;
    position:absolute;
    left:0;
    top:11px;
    border-radius:50%;
}
.body-panel .right-panel .inner-panel-body ul.bug-list li:before{
    width:16px;
    height:16px;
    top:4px;
    left:0;
    background:#f44336;
    content:"X";
    color:#fff;
    font-family:cursive;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:10px;
}
.body-panel .right-panel .inner-panel-body ol{
    list-style-position:inside;
}
.body-panel .right-panel .inner-panel-body ol{
    counter-reset:list;
}
.body-panel .right-panel .inner-panel-body ol > li{
    display:block;
    counter-increment:list;
    padding-left:26px;
    position:relative;
}
.body-panel .right-panel .inner-panel-body ol > li:before{
    content:counter(list) ".";
    position:absolute;
    left:0;
    top:0;
}
.right-image{
    display:flex;
    justify-content:space-between;
}
.right-image ol{
    width:670px;
}
.right-image .image{
    width:86px;
}
@media (max-width:991px){
    .top-panel .nav-panel ul{
        width:370px;
    }
    .top-panel .nav-panel ul{
        width:370px;
    }
    .body-panel .left-panel{
        width: 200px;
    }
    .body-panel .right-panel{
        width: calc(100% - 200px);
    }
    .body-panel .right-panel .inner-panel-body,
    .body-panel .right-panel .inner-panel-head {
        padding: 20px 30px;
    }
    .body-panel .right-panel .inner-panel-head.full-width{
        padding-right:30px;
    }
}
@media (max-width:767px){
    .body-panel .right-panel .inner-panel-body,.body-panel .right-panel .inner-panel-head {
        padding: 20px 15px;
    }
}
